<div class="page-header">
  <h3>Destination #<%= @destination.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Country</dt>
      <dd><%= @destination.country %></dd>


      <dt>Destination type</dt>
      <dd><%= @destination.destination_type %></dd>


      <dt>Destination name</dt>
      <dd><%= @destination.destination_name %></dd>


      <dt>Image1</dt>
      <dd><%= @destination.image1 %></dd>


      <dt>Image2</dt>
      <dd><%= @destination.image2 %></dd>


      <dt>Image3</dt>
      <dd><%= @destination.image3 %></dd>


      <dt>Image4</dt>
      <dd><%= @destination.image4 %></dd>


    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/destinations" class="btn btn-primary">
        Back
      </a>
      <a href="/destinations/<%= @destination.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_destination/<%= @destination.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>
  </div>
</div>
